.transparent {
    background-color: transparent;
}

task-row {
    border-bottom: 1px solid alpha(@borders, 0.4);
}

task-list-item.thumbnail {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 9px;
}

task-list-item {
    background-color: transparent;
}

task-list-item,
task-list-view task-row {
    color: #000003;
}

task-list-view task-row:hover {
    background-color: alpha(#ededed, 0.4);
}

task-list-item.dark,
task-list-view.dark task-row {
    color: #eeeeec;
}

task-list-view.dark task-row:hover {
    background-color: alpha(#393f3f, 0.4);
}

GtdArrowFrame {
    border-bottom-width: 0px;
    border-top-width: 0px;
    background-color: @theme_bg_color;
    border-color: @borders;
}

GtdArrowFrame:dir(ltr) {
    border-right-width: 0px;
}

GtdArrowFrame:dir(rtl) {
    border-left-width: 0px;
}

GtkLabel.main-title {
    font-size: 28px;
}

/* priority icons */
task-row {
    background-color: @transparent;
}

task-row.priority-low {
    background-color: alpha(#3465a4, 0.2);
}

task-row.priority-low:hover {
    background-color: alpha(#3465a4, 0.4);
}


task-row.priority-medium {
    background-color: alpha(#f57900, 0.2);
}

task-row.priority-medium:hover {
    background-color: alpha(#f57900, 0.4);
}

task-row.priority-hight {
    background-color: alpha(#cc0000, 0.2);
}

task-row.priority-hight:hover {
    background-color: alpha(#cc0000, 0.4);
}
